In [13]:
import pandas as pd

In [14]:
filename = "purchase_data.json"
purchase_df = pd.read_json(filename, orient=None, typ='frame', dtype=True,
              convert_axes=True, convert_dates=True, keep_default_dates=True,
              numpy=False, precise_float=False, date_unit=None, encoding=None,
              lines=False, chunksize=None, compression='infer')

In [15]:
# Total Players
unique_players = purchase_df["SN"].unique()
total_players = len(unique_players)

# Create Dataframe for answer
total_players_data = {"Total Players" : [total_players]}
total_players_df = pd.DataFrame(total_players_data)
total_players_df

   Total Players
0            573

In [16]:
# Number of Unique Items
unique_items = purchase_df["Item Name"].unique()
num_unique_items = len(unique_items)

In [17]:
# Average Purchase Price
avg_purchase_price = purchase_df["Price"].mean()
formatted_avg_purchase_price = "$" + str(round(avg_purchase_price, 2))

In [18]:
# Total Number of Purchases
total_purchases = purchase_df["Item ID"].count()

In [19]:
# Total Revenue
total_revenue = purchase_df["Price"].sum()
formatted_total_revenue = "$" + str(round(total_revenue, 2))

In [20]:
# Purchasing Analysis (Total)
purchasing_analysis_rawdic = {"Number of Unique Items" : [num_unique_items],
                         "Average Purchase Price": [formatted_avg_purchase_price],
                         "Total Number of Purchases" : [total_purchases],
                         "Total Revenue" : [formatted_total_revenue]}

purchasing_analysis_df = pd.DataFrame(purchasing_analysis_rawdic)
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,$2.93,179,780,$2286.33

In [21]:
# Percentage and Count of Male Players
male_players = purchase_df.loc[purchase_df["Gender"] == "Male", :]
group_male_players = male_players.groupby("SN")

# Count of Male Players
count_male_players = len(group_male_players)

# Percentage of Male Players
percentage_male_players = count_male_players / total_players
formatted_percentage_male_players = round(100 * percentage_male_players, 2)

In [22]:
# Percentage and Count of Female Players
female_players = purchase_df.loc[purchase_df["Gender"] == "Female", :]
group_female_players = female_players.groupby("SN")

# Count of Female Players
count_female_players = len(group_female_players)

# Percentage of Female Players
percentage_female_players = count_female_players / total_players
formatted_percentage_female_players = round(100 * percentage_female_players, 2)

In [23]:
# Percentage and Count of Other / Non-Disclosed Players
other_gender_players = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", :]
group_other_gender_players = other_gender_players.groupby("SN")

# Count of Other / Non-Disclosed Players
count_other_gender_players = len(group_other_gender_players)

# Percentage of Other / Non-Disclosed Players
percentage_other_gender_players = count_other_gender_players / total_players
formatted_percentage_other_gender_players = round(100 * percentage_other_gender_players, 2)

In [24]:
# GenderÂ Demographics
gender_demographics_rawdic = {"Percentage of Total Players" : [formatted_percentage_male_players, formatted_percentage_female_players, formatted_percentage_other_gender_players],
                         "Total Count": [count_male_players, count_female_players, count_other_gender_players]}

gender_demographics_df = pd.DataFrame(gender_demographics_rawdic)

formatted_gender_demographics = gender_demographics_df.rename(index={0 : "Male", 1 : "Female", 2 : "Other / Non-Disclosed"})
formatted_gender_demographics

                       Percentage of Total Players  Total Count
Male                                         81.15          465
Female                                       17.45          100
Other / Non-Disclosed                         1.40            8

In [25]:
# Male Purchasing Analysis

# Count of Male Purchases
male_players_purchases = purchase_df.loc[purchase_df["Gender"] == "Male", :]
group_male_players_purchases = male_players_purchases.groupby("SN")
count_male_players_purchases = len(group_male_players_purchases)

# Average Purchase Price (Males)
avg_male_players_purchases = male_players_purchases["Price"].mean()
formatted_avg_male_players_purchases = "$" + str(round(avg_male_players_purchases, 2))

# Total Purchase Value (Males)
total_male_players_purchases = male_players_purchases["Price"].sum()
formatted_total_male_players_purchases = "$" + str(round(total_male_players_purchases, 2))

# Normalized Avg Total (Males)
normalized_male_players_purchases = total_male_players_purchases / count_male_players_purchases
formatted_normalized_male_players_purchases = "$" + str(round(normalized_male_players_purchases, 2))

In [26]:
# Female Purchasing Analysis

# Count of female Purchases
female_players_purchases = purchase_df.loc[purchase_df["Gender"] == "Female", :]
group_female_players_purchases = female_players_purchases.groupby("SN")
count_female_players_purchases = len(group_female_players_purchases)

# Average Purchase Price (Females)
avg_female_players_purchases = female_players_purchases["Price"].mean()
formatted_avg_female_players_purchases = "$" + str(round(avg_female_players_purchases, 2))

# Total Purchase Value (Females)
total_female_players_purchases = female_players_purchases["Price"].sum()
formatted_total_female_players_purchases = "$" + str(round(total_female_players_purchases, 2))

# Normalized Avg Total (Females)
normalized_female_players_purchases = total_female_players_purchases / count_female_players_purchases
formatted_normalized_female_players_purchases = "$" + str(round(normalized_female_players_purchases, 2))

In [27]:
# Other / Non-Disclosed Purchasing Analysis

# Count of Other / Non-Disclosed Purchases
other_gender_players_purchases = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", :]
group_other_gender_players_purchases = other_gender_players_purchases.groupby("SN")
count_other_gender_players_purchases = len(group_other_gender_players_purchases)

# Average Purchase Price (Other / Non-Disclosed)
avg_other_gender_players_purchases = other_gender_players_purchases["Price"].mean()
formatted_avg_other_gender_players_purchases = "$" + str(round(avg_other_gender_players_purchases, 2))

# Total Purchase Value (Other / Non-Disclosed)
total_other_gender_players_purchases = other_gender_players_purchases["Price"].sum()
formatted_total_other_gender_players_purchases = "$" + str(round(total_other_gender_players_purchases, 2))

# Normalized Avg Total (Other / Non-Disclosed)
normalized_other_gender_players_purchases = total_other_gender_players_purchases / count_other_gender_players_purchases
formatted_normalized_other_gender_players_purchases = "$" + str(round(normalized_other_gender_players_purchases, 2))

In [28]:
# PurchasingÂ AnalysisÂ by Gender Chart
purchasing_analysis_gender_rawdic = {"Purchase Count" : [count_male_players_purchases, count_female_players_purchases, count_other_gender_players_purchases],
                         "Average Purchase Price": [formatted_avg_male_players_purchases, formatted_avg_female_players_purchases, formatted_avg_other_gender_players_purchases],
                         "Total Purchase Value" : [formatted_total_male_players_purchases, formatted_total_female_players_purchases, formatted_total_other_gender_players_purchases],
                         "Normalized Totals" : [formatted_normalized_male_players_purchases, formatted_normalized_female_players_purchases, formatted_normalized_other_gender_players_purchases]}

purchasing_analysis_gender_df = pd.DataFrame(purchasing_analysis_gender_rawdic)
formatted_purchasing_analysis_gender_df = purchasing_analysis_gender_df.rename(index={0 : "Male", 1 : "Female", 2 : "Other / Non-Disclosed"})
formatted_purchasing_analysis_gender_df.index.name = "Gender"
formatted_purchasing_analysis_gender_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,$2.95,$4.02,465,$1867.68
Female,$2.82,$3.83,100,$382.91
Other / Non-Disclosed,$3.25,$4.47,8,$35.74

In [29]:
# Age Demographics into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [0, 10,  14,  19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40=<"]

In [30]:
# Place into bins
purchase_df["Age Range"] = pd.cut(purchase_df["Age"], bins, labels=group_names)

#regiment_df["Test Score Summary"] = pd.cut(regiment_df["Test Score"], bins, labels=group_names)
age_demographics = purchase_df.groupby("Age Range")
unique_age = age_demographics["SN"].nunique()
unique_age_df = pd.DataFrame(unique_age)
count_age_demographics = unique_age_df.rename(columns={"SN" : "Total Count of Players"})

In [31]:
df = count_age_demographics["Total Count of Players"]
percentage_age_demographics = [round((person / total_players) * 100, 2) for person in df]

In [32]:
# Convert Percentage Age Demographics into DataFrame
percentage_age_demographics_df = pd.DataFrame(percentage_age_demographics)
renamed_percentage_age_demographics_df = percentage_age_demographics_df.rename(index={0 : "<10", 1 : "10-14", 2 : "15-19", 3: "20-24",
                                                                                      4 : "25-29", 5 : "30-34", 6 : "35-39", 7 : "40=<"})

In [33]:
# Age Demographics
age_demographics_table = count_age_demographics.join(renamed_percentage_age_demographics_df)
final_age_demographics_table = age_demographics_table.rename(columns={0 : "Percentage of Players"})
final_age_demographics_table

           Total Count of Players  Percentage of Players
Age Range
<10                            22                   3.84
10-14                          20                   3.49
15-19                         100                  17.45
20-24                         259                  45.20
25-29                          87                  15.18
30-34                          47                   8.20
35-39                          27                   4.71
40=<                           11                   1.92

In [34]:
# Purchase Count
purchase_count = age_demographics["Age"].count()

# Convert to DataFrame
purchase_count_df = pd.DataFrame(purchase_count)
renamed_purchase_count_df = purchase_count_df.rename(columns={"Age" : "Purchase Count"})

In [35]:
# Average Purchase Price by Age
avg_price_age = age_demographics["Price"].mean()

# Convert to DataFrame
avg_price_age_df = pd.DataFrame(avg_price_age)
renamed_avg_price_age_df = avg_price_age_df.rename(columns={"Price" : "Average Purchase Price"})

In [36]:
# Total Purchase Value by Age
total_value_age = age_demographics["Price"].sum()

# Convert to DataFrame
total_value_age_df = pd.DataFrame(total_value_age)
renamed_total_value_age_df = total_value_age_df.rename(columns={"Price" : "Total Purchase Value"})

In [37]:
# Normalized Values
normalized_values_age = total_value_age / final_age_demographics_table["Total Count of Players"]

# Format and Convert
formatted_normalized_values_age_df = pd.DataFrame(normalized_values_age)
renamed_normalized_values_age_df = formatted_normalized_values_age_df.rename(columns={0 : "Normalized Value Totals"})

In [38]:
# PurchasingÂ AnalysisÂ (Age) Chart
first_merged_table = renamed_avg_price_age_df.join(renamed_total_value_age_df)
second_merged_table = first_merged_table.join(renamed_normalized_values_age_df)
purchasing_analysis_age_table = second_merged_table.join(renamed_purchase_count_df)
purchasing_analysis_age_table[["Average Purchase Price", "Total Purchase Value", "Normalized Value Totals"]] = purchasing_analysis_age_table[["Average Purchase Price", "Total Purchase Value", "Normalized Value Totals"]].applymap("${:,.2f}".format)
purchasing_analysis_age_table

,Average Purchase Price,Total Purchase Value,Normalized Value Totals,Purchase Count
Age Range,,,,
<10,$3.02,$96.62,$4.39,32
10-14,$2.70,$83.79,$4.19,31
15-19,$2.91,$386.42,$3.86,133
20-24,$2.91,$978.77,$3.78,336
25-29,$2.96,$370.33,$4.26,125
30-34,$3.08,$197.25,$4.20,64
35-39,$2.84,$119.40,$4.42,42
40=<,$3.16,$53.75,$4.89,17

In [39]:
# TopÂ Spenders (SN) - Purchase Count
group_SN = purchase_df.groupby("SN")
SN_count = group_SN.count()
SN_count_sort = SN_count.sort_values("Item ID", ascending=False)
top_spender_num_purchases = SN_count_sort["Item ID"]
top_spender_purchases_df = pd.DataFrame(top_spender_num_purchases)
top_spender_num_purchases_df = top_spender_purchases_df.rename(columns={"Item ID" : "Purchase Count"})

In [40]:
# TopÂ Spenders (SN) - Average Purchase Price
group_SN = purchase_df.groupby("SN")
SN_avg_price = group_SN.mean()
SN_avg_price_sort = SN_avg_price.sort_values("Price", ascending=False)
top_spender_avg_price = SN_avg_price_sort["Price"]
top_spender_avg_price_df = pd.DataFrame(top_spender_avg_price)
renamed_top_spender_avg_price_df = top_spender_avg_price_df.rename(columns={"Price" : "Average Purchase Price"})

In [41]:
# TopÂ Spenders (SN) - Total Purchase Value
group_SN = purchase_df.groupby("SN")
SN_total_value = group_SN.sum()
SN_total_value_sort = SN_total_value.sort_values("Price", ascending=False)
top_spender_total_value = SN_total_value_sort["Price"]
top_spender_total_value_df = pd.DataFrame(top_spender_total_value)
renamed_top_spender_total_value_df = top_spender_total_value_df.rename(columns={"Price" : "Total Purchase Value"})

In [42]:
# Joining DataFrames to Create Final Product
numpurchase_avgprice_joined_table = top_spender_num_purchases_df.join(renamed_top_spender_avg_price_df)
top_spenders_table_df = numpurchase_avgprice_joined_table.join(renamed_top_spender_total_value_df)

# Format Final DataFrame
top_spenders_table_df[["Average Purchase Price", "Total Purchase Value"]] = top_spenders_table_df[["Average Purchase Price", "Total Purchase Value"]].applymap("${:,.2f}".format)
top_spenders_table_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Mindimnya67               4                  $3.18               $12.74
Qarwen67                  4                  $2.49                $9.97
Saedue76                  4                  $3.39               $13.56
Sondastan54               4                  $2.56               $10.24

In [43]:
# MostÂ PopularÂ Items - Purchase Count
item_group = purchase_df.groupby(["Item ID", "Item Name"])
count_item_group = item_group.count()
purchase_count_item = count_item_group["SN"]
purchase_count_item_df = pd.DataFrame(purchase_count_item)
renamed_purchase_count_item_df = purchase_count_item_df.rename(columns={"SN" : "Purchase Count"})

In [44]:
# MostÂ PopularÂ Items - Total Purchase Value
item_group = purchase_df.groupby(["Item ID", "Item Name"])
total_item_group = item_group.sum()
total_item_group
total_purchase_item = total_item_group["Price"]
total_purchase_item_df = pd.DataFrame(total_purchase_item)
renamed_total_purchase_item_df = total_purchase_item_df.rename(columns={"Price" : "Total Purchase Value"})

In [45]:
# MostÂ PopularÂ Items - Item Price
item_group = purchase_df.groupby(["Item ID", "Item Name"])
item_price_group = item_group.max()
item_price = item_price_group["Price"]
item_price_df = pd.DataFrame(item_price)
renamed_item_price_df = item_price_df.rename(columns={"Price" : "Item Price"})

In [46]:
# Joining DataFrames to Create MostÂ PopularÂ Items DataFrame
count_price_join = renamed_purchase_count_item_df.join(renamed_item_price_df)
popular_items = count_price_join.join(renamed_total_purchase_item_df)
most_popular_items = popular_items.sort_values("Purchase Count", ascending=False)
most_popular_items[["Item Price", "Total Purchase Value"]] = most_popular_items[["Item Price", "Total Purchase Value"]].applymap("${:,.2f}".format)

In [47]:
# MostÂ ProfitableÂ Items - Most Times Purchased
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [48]:
# Formatting for MostÂ ProfitableÂ Items - Highest Revenue Total
most_profitable_items = popular_items.sort_values("Total Purchase Value", ascending=False)
most_profitable_items[["Item Price", "Total Purchase Value"]] = most_profitable_items[["Item Price", "Total Purchase Value"]].applymap("${:,.2f}".format)

In [49]:
# MostÂ ProfitableÂ Items - Highest Revenue Total
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88

In [50]:
# -------------------------------------------------------------------------------------

In [51]:
# -------------------------------------------------------------------------------------

In [52]:
# Summary of Charts

In [53]:
total_players_df

   Total Players
0            573

In [54]:
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,$2.93,179,780,$2286.33

In [55]:
formatted_gender_demographics

                       Percentage of Total Players  Total Count
Male                                         81.15          465
Female                                       17.45          100
Other / Non-Disclosed                         1.40            8

In [56]:
formatted_purchasing_analysis_gender_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,$2.95,$4.02,465,$1867.68
Female,$2.82,$3.83,100,$382.91
Other / Non-Disclosed,$3.25,$4.47,8,$35.74

In [57]:
final_age_demographics_table

           Total Count of Players  Percentage of Players
Age Range
<10                            22                   3.84
10-14                          20                   3.49
15-19                         100                  17.45
20-24                         259                  45.20
25-29                          87                  15.18
30-34                          47                   8.20
35-39                          27                   4.71
40=<                           11                   1.92

In [58]:
purchasing_analysis_age_table

,Average Purchase Price,Total Purchase Value,Normalized Value Totals,Purchase Count
Age Range,,,,
<10,$3.02,$96.62,$4.39,32
10-14,$2.70,$83.79,$4.19,31
15-19,$2.91,$386.42,$3.86,133
20-24,$2.91,$978.77,$3.78,336
25-29,$2.96,$370.33,$4.26,125
30-34,$3.08,$197.25,$4.20,64
35-39,$2.84,$119.40,$4.42,42
40=<,$3.16,$53.75,$4.89,17

In [59]:
top_spenders_table_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Mindimnya67               4                  $3.18               $12.74
Qarwen67                  4                  $2.49                $9.97
Saedue76                  4                  $3.39               $13.56
Sondastan54               4                  $2.56               $10.24

In [60]:
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
31,Trickster,9,$2.07,$18.63
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41

In [61]:
most_profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88